[run]
branch = True
source =
  flaml
  !flaml/autogen
concurrency = multiprocessing
parallel = true
omit =
  */test/*
  */flaml/autogen/*
  */flaml/tune/spark/mylearner.py
  */flaml/onlineml/*
  */flaml/tune/scheduler/online_scheduler.py
  */flaml/tune/searcher/online_searcher.py
  */flaml/tune/searcher/cfo_cat.py
